/* p,h1 {
    color: blue;
} */

/* div h1 
{
    color: blue;
} */

/* body
{
    background-image: url(./image1.webp);
    background-size: 100%;
} */

/* h4{
    color: red;
    font-family: sans-serif;
    font-size: 20px;
} */
